<%- include("partials/header.ejs"); -%>

<h1>Graphical Analysis</h1>

<script>
    var yearArr = [];
    var nameArr = [];
    var feeArr = [];
    <% for(var i=0; i < markDetail.length; i++){ %>

        yearArr.push(<%= markDetail[i].years %> );
        nameArr.push('<%= markDetail[i].fullname %>' + ' (<%= markDetail[i].courseTaught %>)');
        feeArr.push(<%= markDetail[i].fees %>);
        
    <% } %>
</script>

<div id='myDiv' style="position: absolute; right:80px;">
    <script>
        var data = [{
            values: yearArr,
            labels: nameArr,
            type: 'pie'
        }];

        var layout = {
            height: 400,
            width: 500
        };

        Plotly.newPlot('myDiv', data, layout);
            
    </script>
</div>

    <div id='myDiv2'>
        <script>
            var data = [
            {
                x: nameArr,
                y: feeArr,
                type: 'bar'
            }
            ];

            var layout = {
                barmode : 'stack',
                height: 400,
                width: 700
            };

            Plotly.newPlot('myDiv2', data, layout);
        </script>
    </div>

    <style>
        #map {
            width: 1150px;
            height: 400px;
        }
    </style>


    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        
        var map = L.map('map').setView([19.1485, 77.3191], 5.5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        <% for(var i=0; i < markDetail.length; i++){ %>

            var marker = L.marker([<%= markDetail[i].lat%>, <%= markDetail[i].lon %>]).addTo(map);
            marker.bindPopup('<%= markDetail[i].fullname %>' + ' (<%= markDetail[i].courseTaught %>)').openPopup();

        <% } %>
    </script>



<%- include("partials/footer.ejs"); -%>