<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WIM Assign</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">  

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header ">
          <p class="navbar-brand" id="hometut">Home Tutor</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home" class="menu"><a href="/">LOGOUT</a></li>
          </ul>
      </div>
    </nav>
  </head>
</head>
<body>
    <div class="container">
        <h1>Welcome <%= sdata[0].name %></h1>
    
        <table class = "table table-hover" id = "table-id">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Age</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Course</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < sdata.length; i++){ %>
                    <tr>
                        <td> <%= sdata[i].name %></td>
                        <td> <%= sdata[i].username %></td>
                        <td> <%= sdata[i].age %></td>
                        <td> <%= sdata[i].phone %></td>
                        <td> <%= sdata[i].email %></td>
                        <td> <%= sdata[i].course %></td>
                        
                    </tr>
                <% } %>
            </tbody>
        </table>        
    </div>

    <!-- List of Teachers in the same city which teach the required course :  -->
    <div class = "container" id="content">
        <h2>Enroll a teacher</h2>
        <form id="enrollForm" action="/enrollteacher" method="POST">
        <table class = "table table-hover" id = "table-id1">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Course</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < tdata.length; i++){ %>
                    <tr>
                        <td> <%= tdata[i].name %></td>
                        <td> <%= tdata[i].city %></td>
                        <td> <%= tdata[i].course %></td>  
                        <td>
                            <input type="radio" id="teacherUsername" name="teacherUsername" value="<%= tdata[i].username %>">
                        </td>                    
                    </tr>
                <% } %>
            </tbody>
        </table>

        <!-- <label for="studentUsername">Your Username:</label> -->
        <input type="hidden" id="studentUsername" name="studentUsername" value = "<%= sdata[0].username %>">

        <button type="submit" class="btn btn-primary">Enroll Selected Teacher</button>
        </form>
    </div>
    <div style="padding-left: 700px;">
        <button type="submit" class="btn btn-primary" onclick="make_pdf()">Print</button>
    </div>

    <!-- html2pdf library CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script>          
        function make_pdf(){
        const element = document.getElementById('content');
            html2pdf(element,{
                margin: 5,
                filename: 'mydetails.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2, logging:true, dpi: 192, letterRendering: true },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'landscape' },
            });
  }

        // Add event listener to the radio buttons to capture selected teacher's username
        const radioButtons = document.querySelectorAll('input[name="teacherUsername"]');
        radioButtons.forEach(button => {
            button.addEventListener('change', event => {
                document.getElementById('teacherUsername').value = event.target.value;
            });
        });
    </script>
</body>


<div class="footer-padding"></div>
    <div class="footer">
        <p>Copyright ©2023 Home Tutor Pvt. Ltd. All rights reserved.</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="index.js"></script>

</body>
</html>
