<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WIM Assign</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">  

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header ">
          <p class="navbar-brand" id="hometut">Home Tutor</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home" class="menu"><a href="/">LOGOUT</a></li>
          </ul>
      </div>
    </nav>
  </head>
</head>
<body>
    <div class="container">
        <h1>Welcome <%= tdata.name %></h1>
    
        <table class = "table table-hover" id = "table-id">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Age</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Course</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Fee</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td> <%= tdata.name %></td>
                        <td> <%= tdata.username %></td>
                        <td> <%= tdata.age %></td>
                        <td> <%= tdata.phone %></td>
                        <td> <%= tdata.email %></td>
                        <td> <%= tdata.course %></td>
                        <td> <%= tdata.years %></td>
                        <td> <%= tdata.fee %></td>
                        
                    </tr>
            </tbody>
        </table>
    </div>
</body>

<div class="footer-padding"></div>
    <div class="footer">
        <p>Copyright ©2023 Home Tutor Pvt. Ltd. All rights reserved.</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="index.js"></script>

</body>
</html>
