<%- include("partials/logoutheader.ejs"); -%>

<body>
    <div class="container">
        <h1>Welcome Admin !</h1>

        <h3>Total Donation amount we have : <%= amt %></h3>
        <h3>Number of donors who made donations: <%= num %></h3>

        <h6>Student Requests below: </h6>

        <table class = "table table-hover" id = "table-id">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Fee Paid</th>
                    <th scope="col">Account Name</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Family Income</th>
                    <th scope="col">Drive link</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < reimb.length; i++){ %>
                    <tr>
                        <td> <%= reimb[i].username %></td>
                        <td> <%=  reimb[i].name %></td>
                        <td> <%=  reimb[i].email %></td>
                        <td> <%=  reimb[i].phone %></td>
                        <td> <%=  reimb[i].fee %></td>
                        <td> <%=  reimb[i].accname %></td>
                        <td> <%=  reimb[i].accnum %></td>
                        <td> <%=  reimb[i].income %></td>
                        <td> <a href="<%=  reimb[i].drive %>"><%=  reimb[i].drive %></a></td>
                        <td> <%=  reimb[i].para %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </div>
</body>

<%- include("partials/footer.ejs"); -%>
