<%- include("partials/logoutheader.ejs"); -%>

<body>
    <!-- ID card of teacher karna hai not a table -->
    <div class="container">
        <h1>Welcome <%= tdata.name %></h1>
    
        <table class = "table table-hover" id = "table-id">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Age</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Course</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Fee</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td> <%= tdata.name %></td>
                        <td> <%= tdata.username %></td>
                        <td> <%= tdata.age %></td>
                        <td> <%= tdata.phone %></td>
                        <td> <%= tdata.email %></td>
                        <td> <%= tdata.course %></td>
                        <td> <%= tdata.years %></td>
                        <td> <%= tdata.fee %></td>
                        
                    </tr>
            </tbody>
        </table>
    </div>

    <!-- List of Enrolled Student's and their deets -->
    <div class="container">
        <h1>List of Enrolled Student's</h1>
        
        <% if(tdata.enrolledStudents.length != 0){ %>
            <table class = "table table-hover" id = "table-id">
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Education</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < tdata.enrolledStudents.length; i++){ %>
                        <tr>
                            <td> <%= tdata.enrolledStudents[i].name %></td>
                            <td> <%= tdata.enrolledStudents[i].age %></td>
                            <td> <%= tdata.enrolledStudents[i].education %></td>
                            <td> <%= tdata.enrolledStudents[i].phone %></td>
                            <td> <%= tdata.enrolledStudents[i].email %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else{ %>
            <h4>No enrolled students yet.</h4>
        <% } %>
    </div>
</body>

<%- include("partials/footer.ejs"); -%>
